body{
    margin: 0px;
}
.header{   
    background-color: black;
}
h1{
    margin: 0px;
    
}
.titleone{
    color: blanchedalmond;
    text-align: center;
}
.box{
    background-color: #f3efef;
    margin: 0%;
    margin-bottom: 50%;
}

.titleabaixo{
    margin-left: 15px;
    margin-bottom: 0;
}



div#res {
    margin: 22px 10px 22px;
}
.res{
    border: 0.1px solid black;
}
.title{
    margin: 0;
    text-align: center;
    color: #0f0f0f;
    font-size: 25px;
}
.losangmaior1{
    background-color: #f3efef;
    border: 1px solid black;
    
}
.losangmaior2{
    background-color: #f3efef;
    border: 1px solid black;
    display: none;
}
.losang {
    background-color: #f3efef;
    border-bottom: 1px solid black;
}
.btnend{
text-align: end;
}
.boxone {
    padding: 20px;
}

input#txtvel {
    border-radius: 8px;
    width: 50px;
    border: 1px solid;
}
.btnmedia{
    padding: 0;
}

.boxmedia{
    padding: 1px;
}

.notamedia {
    width: 10%;
    margin-right: 10px;
}
